.border-box {
  border: 1px;
  border-style:solid;
  border-color: black;
  display:flex;
  justify-content: center;
  margin: 1em;
  padding: 1em;
  align-items: center;
  align-content: center;
  align-self: center;
  background-color: white;
}

.center {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
}


.navbar {
  background-color: white;
}